module.exports = {
  apps: [
    {
      name: 'dev_api',
      script: './app.js',
      instances: 1,
      autorestart: true,
      watch: false,
      time: true,
      max_memory_restart: "1G",
      env: {
        NODE_ENV: 'dev',
        NODE_PATH: '.',
        HOST: 'localhost',
        PORT: '1337',
        API_VERSION: 'v1',
        JWT_SECRET:'',
        DB_CONN:'',
        CLOUD_NAME: '',
        CLOUD_API_KEY: '',
        CLOUD_API_SECRET: '',
        OS_APP_ID: '',
        OS_TOKEN: '',
        MAIL_HOST: '',
        MAIL_PORT: '',
        MAIL_AUTH_USER: '',
        MAIL_AUTH_PASS: '',
        EXPIRE_TOKEN: '',
        CRYPTO_ALG: '',
        CRYPTO_KEY: '',
        CRYPTO_IV: '',
      },
      env_test: {
        NODE_ENV: 'test'
      },
      env_staging: {
        NODE_ENV: 'staging'
      },
      env_production: {
        NODE_ENV: 'production'
      }
    }
  ]
};
